export TELEMETRY_USERNAME=admin
export TELEMETRY_PASSWORD=admin
export ALERTMANAGER_EMAIL_HOST=smtp.gmail.com:587
export ALERTMANAGER_EMAIL_AUTH_PASSWORD=changeme
export ALERTMANAGER_SRC_EMAIL_ADDRESS=source_mail@example.com
export ALERTMANAGER_EMAIL_AUTH_IDENTITY=source_mail@example.com
export ALERTMANAGER_DST_EMAIL_ADDRESS=destination_mail@example.com
export ALERTMANAGER_EMAIL_AUTH_USERNAME=source_mail@example.com
